body {
	position: absolute;
	left: 10%;
	right: 10%;
	background: #303F9F;
	line-height: 1.5em;
}

section {
	max-width: 1500px;
	min-width: 200px;
	background: #C5CAE9;
	padding: 10px;
}

.navigation {
	background: #FFC107;
}
.navigation ul {
	font-size: 1.2em;
	font-weight: bold;
	margin: 0 20px 0 0;
	padding: 10px;
	text-align: center;

}

.navigation li {
	list-style: none;
	display: inline-block;
	padding: 0 10px 0 10px;
}

@media (max-width: 600px) {
	.navigation li {
		display: block;
		width: 100%;
	}
}

.navigation a {
	text-decoration: none;
	color: #3F51B5;
}

.navigation a:hover {
	color: yellow;
}

.main p {
	padding: 10px;
}

.main img {
	width: 100%;
}

.gallery {
	text-align: center;
}
.gallery img {
	display: inline-block;
	padding: 10px;
	border: solid black 1px;
	margin: 10px;
}

@media (max-width: 525px) {
	.gallery img {
		text-align: center;
		display: block;
		width: 86%;
	}
}